*,
        *::before,
        *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f0f0f0;
            padding: 20px;
            background-image: url('./styling-images/createcafe.jpg');
            background-size: 550px;
        }

        h1 {
            text-align: center;
            margin-bottom: 5px;
            margin-top: 45px;
            color: #8B4513;
        }

        form {
            max-width: 500px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="file"],
        input[type="checkbox"] {
            width: calc(100% - 12px);
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button[type="submit"],
        button[type="reset"],
        button[type="button"],
        .back {
            display: inline-block;
            padding: 10px 20px;
            margin-right: 10px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button[type="submit"],
        .back {
            background-color: #8B4513;
            color: #fff;
        }
        button[type="button"],
        button[type="reset"] {
            background-color: #8B4513;
            color: #fff;
        }

        button[type="submit"]:hover,
        button[type="reset"]:hover,
        button[type="button"]:hover,
        .back:hover {
            background-color: #A0522D;
        }

        .form-message {
            text-align: center;
            margin-top: 10px;
            padding: 10px;
            border-radius: 5px;
            background-color: #8B4513;
            color: #fff;
        }

        .form-message.success {
            background-color: #5cb85c;
            margin-top: 5px;
        }

        .form-message.error {
            background-color: #d9534f;
        }

        select {
            width: 100%;
            padding: 0.5rem;
            font-size: 1rem;
            border: 1px solid #ced4da; /* Bootstrap default border color */
            border-radius: 0.25rem;
            background-color: #fff;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            margin-bottom: 10px;
        }
        
        /* Style for option elements */
        select option {
            font-size: 1rem;
        }