.brown {
    color: brown;
}

.btn-custom {
    background-color: brown;
    /* Orange color */
    color: white;
}

.btn-custom:hover {
    background-color: darkred;
    /* Darker orange color on hover */
    color: white;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem brown;
}

.search-bar:focus {
    outline: none;
    border: 1px solid brown;
    box-shadow: 0 0 10px brown;
}