*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 20px;
    background-image: url('./styling-images/createcafe.jpg');
    background-size: 550px;

}



h1 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 45px;
    color: #8B4513;

}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select,
input[type="file"] {
    width: calc(100% - 12px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group-buttons {
    text-align: center;
}

button[type="submit"],
button[type="reset"] {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #8B4513; 
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 100px;
}

button[type="reset"] {
    background-color: #fff; 
    color: #8B4513; 
    margin-left: 50px;
    font-size: large;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
    background-color: #A0522D; 
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    margin-top: 20px;
}



#price
{
    display: inline-block;
    width: calc(50% - 60px); 
    vertical-align: top; 
    margin-left: -40px;
}


#stock {
    display: inline-block;
    width: calc(50% - 60px);
    vertical-align: top; 
    margin-left: -40px;


}
label[for="price"],
label[for="stock"] {
    display: inline-block;
    width: 100px; 
}

.form-message {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #8B4513;
    color: #fff;
}

.form-message.success {
    background-color: #5cb85c; 
    margin-top: 5px;
}

.form-message.error {
    background-color: #d9534f; 
}
